body
{
  background: none;
}

#container
{
  width: 100%;
  background: none;
}

#content
{
  padding: 25px;
  padding-top: 0;
}

#content h1
{
  padding: 0;
  background: transparent;
  margin-bottom: 20px;
  font-size: 140%;
  color: #000;
}

#content h2
{
  padding: 0;
  background: transparent;
  margin-bottom: 10px;
  font-size: 130%;
  color: #000;
}

td, th
{
  padding: 7px;
}

th
{
  font-weight: bold;
}

/*
#footer
{
  clear: both;
  padding: 25px;
  margin-top: 0;
  height: auto;
  font-family: arial,sans-serif;
  font-size: 80%;
  float: right;
  color: #666;
  background: none;
}*/

#footer img
{
  vertical-align: middle;
}

#sf_admin_container fieldset h2
{
  font-size: 110%;
  font-family: arial,sans-serif;
  font-style: italic;
}

.sf_admin_form_field_logo div div
{
  margin-left: 120px;
}

#sf_admin_container .sf_admin_form_field_logo div div label
{
  display: inline;
  float: none;
}

#header h1
{
  width: auto;
}
#sf_admin_container ul li.sf_admin_action_equipes a
{
  background: url(/images/actions/action-equipes.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_arbitres a
{
  background: url(/images/actions/action-arbitres.png) no-repeat 0 0;
}

#sf_admin_container ul li.sf_admin_action_techniques a
{
  background: url(/images/actions/action-techniques.png) no-repeat 0 0;
}
#sf_admin_container ul li.sf_admin_action_retour a
{
  background: url(/images/actions/retour.png) no-repeat 3px 2px;
}

#sf_admin_container #sf_admin_bar {
	float:none;
	margin: 0px;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tr {
	clear: none;
	border: 1px solid #DDDDDD;
	padding: 0px;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tr td {
	height: 50px;
	vertical-align: middle;
	border: none;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tbody {
	clear: none;
	float: left;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tbody tr {
	float: left;
	border-right: none;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tfoot {
	clear: none;
	float: right;
}
#sf_admin_container #sf_admin_bar .sf_admin_filter table tfoot tr {
	float: right;
}