/*
Reset CSS
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
html{color:#000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}
del,ins{text-decoration:none;}

/*
Fonts CSS
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
/*body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;outline: none;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}*/

a
{
  color: #524F46;
  outline: none;
}

body
{
  font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
  background-color: #828f95;
}

#container
{
  margin-left: auto;
  margin-right: auto;
  background: #fff;
}

#header
{
  background: url(/images/bg-header.jpg) repeat-x top;
  height: 40px;
  width: 100%;
  margin: 0 auto;
}

#logo {
  float: left;
  width: 78px;
  height: 40px;
  margin: 0 auto;
}


#defsite {
  margin-left: 90px;
  padding-top: 15px; }

#defsite h1
{
  vertical-align: bottom;
  font-size: 130%;
  color: #FFF;
}

#header h1 img
{
  display: none;
}

#header .post
{
  float: right;
  margin-top: -66px;
  margin-right: 40px;
}

#map
{
  position: relative;
  width:100%;
  /*height:88%;*/
  z-index:0; 
}

#filter
{
  position: absolute;
  margin-top : 5px;
  margin-left: 55px;
  padding: 2px;
  background-color: #FFF;
  filter:alpha(opacity=60); 
  -moz-opacity: 0.6; 
  opacity: 0.6;
  z-index: 10;
}

#filter .titre
{
  font-weight: bold;
}

#filter
{
  float: right;  
}

td {
  padding: 5px;
}
#menu
{
  float: right;
  margin-top: 15px;
  /*border-bottom: 1px solid #aaa;*/
  /*background-color: #fff;*/
}

#menu li
{
  margin-right: 15px;
  display: inline;
}
#menu li a
{
  color: #FFF;
  text-decoration: none;
}

#menu li a:hover
{
    text-decoration: underline;
}

#content .content {
  width: 783px;
  margin: 0 auto;
}

#content h1
{
  margin-top: 10px;
  margin-bottom: 1px;
  padding: 0px 15px;
  font-size: 124%;
  text-transform: uppercase;
  background: url(/images/bg-listheader.gif) no-repeat;
  line-height: 32px;
  color: #fff;
}

#content h1 a
{
  color: #fff;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  line-height: 32px;
}

#content h2
{
  margin-bottom: 5px;
  font-size: 115%;
  font-weight: bold;
}

#content h3
{
  margin-bottom: 5px;
  font-size: 105%;
  font-weight: bold;
}

#content li
{
  list-style-type: circle;
}

#texte
{
  padding-top: 10px;
  padding-left: 20px;  
}

#coord {
  float: left;
  width: 180px;
  margin: 0 auto;
}

#photo {
  margin-left: 200px;
}

#poi_details {
  clear: both;
}

#footer
{
  margin-top: 20px;
  font-size: 90%;
  /*margin-bottom: 0px;*/
  height: 20px;
  background: url(/images/bg-footer.jpg) repeat-x bottom;
  position: relative;
  margin: 0;
}

#footmenu {
  width: 783px;
  margin-left: 30px;
  padding-top: 2px;
}

#footer .content {
  width: 783px;
  /*margin: 0 auto;*/
}
#footer a
{
  /*color: #77766F; */
  color: #FFF;
}

#footer ul
{
  display: inline;
}

#footer li
{
  list-style: none;
  margin-right: 15px;
  display: inline;
}

#footer li a
{
  text-decoration: none;
}

#footer li a:hover
{
  color: #FFF;
  text-decoration: underline;
}

#footer .symfony,
#footer .centresource
{
  font-family: arial,sans-serif;
  font-size: 80%;
  float: right;
  color: #666;
}

#footer .centresource
{
  clear: both;
  margin-top: 5px;
  padding-bottom: 10px;
  position: absolute;
  bottom: -30px;
  right: 5%;
  color: #adbcc3;
  font-size: 90%;
}

#footer .centresource a
{
  color: #b2c0c6;
  text-decoration: none;
}

#footer .centresource a:hover
{
  color: #fff;
}

#footer .symfony img
{
  vertical-align: middle;
}

#footer form {
  margin: 10px 0;
  color: #5f6364;
}

.feed
{
  padding-left: 20px;
  background: transparent url(/images/feed.png) no-repeat 0 0;
}

.help
{
  color: #B5B5B5;
  font-size: 80%;
  font-style: italic;
}

.search .help {
  color: #fff;
}

.error_list
{
  color: red;
}

strong
{
  font-weight: bold;
}

em
{
  font-style: italic;
}

.flash_notice
{
  margin: 3px 0;
  padding: 7px;
  background-color: #cfc;
}

.flash_error
{
  margin: 3px 0;
  padding: 7px;
  background-color: #f33;
  color: #fff;
}
